<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Ollama - Config</title>

        <input-field type="text">
            <name>FaqPrompt</name>
            <label>Prompt für KI</label>
            <defaultValue>Generate 5 FAQs with answers about the following product: {name}, description: {description}</defaultValue>
        </input-field>

        <input-field type="text">
            <name>FaqUrl</name>
            <label>Url</label>
        </input-field>

        <input-field type="text">
            <name>FaqModel</name>
            <label>Model</label>
            <defaultValue>llama3</defaultValue>
        </input-field>
    </card>
</config>
